body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
}

h2 {
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    font-size: 15px;
}

.profile-container {
    height: 500px;
    max-width: 600px;
    margin: 30px auto;
    background: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(38, 53, 118, 0.2);
    text-align:left;
}

.profile-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #263576;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.profile-container .field {
    margin: 10px 0;
    font-size: 16px;
    color: #000000;
}

.profile-container .field strong {
    color: #263576;
    display: inline-block;
    width: 120px;
    text-align: left;
    margin-right: 10px;
}
